#                               SAE 104: CREATION D'UNE BASE DE DONNEES

###### CYPRIEN CHRISLIN ET SOUPRAMANIANE CYRIL

# PHASE 1 #
## Le fichier titanic_train.csv contient des informations concernant les passagers à bord du Titanic et nous permet de nous interroger et d'interroger la BDD à travers des requetes SQL, et ainsi visualiser les résultats.

### Ex: Combien de passagers sont morts ?
### Le modèle ci-dessus a 12 colonnes soit Degré -> 12.
### Les attributs sont: 
                    - PassengerId (integer) ->Clé Primaire, 
                    - Survived (integer), 
                    - Pclass (integer) -> Ticket Class, 
                    - Name(varchar) ->Clé Étrangère, 
                    - Sex (varchar) 
                    - Age (integer) 
                    - Sibsp (integer) -> #of siblings/spouses aboard the Titanic
                    - Parch (integer) -> #of  parents/children aboard the Titanic
                    - Ticket number (varchar)
                    - Passenger Fare (float)
                    - Cabin number (varchar)
                    - Port of embarkation (varchar)

### Il a 891 lignes (tuples) soit cardinalité -> 891



## Les objectifs sont visés: - Créer une table de douze degrés 
                          - Importer le fichier de sorte à ce que chaque colonne corresponde à un  
                            attribut(ci-dessus)
                          - Interroger la BDD via des requetes SQL afin de visualiser les résultats.
                          
## CRÉATION D'UNE TABLE :                     
                          
### Comment crée-t-on une table:
                            -CREATE TABLE <nom table> (nom varchar(10), age integer);

#### On a employé 3 types de données en fonction des attributs concernés:
                  
                  -si l'attribut est un nombre, il s'agit d'un integer
                  
                  -si l'attribut est un nombre à virgule, il s'agit un float
              
              -si l'attribut est un nombre composé à des lettres ou juste des lettres, il s'agit d'un varchar

### Comment insère-t-on des valeurs dedans:
                            -INSERT INTO <nom table> VALUES (‘Nassim’,22);

### Comment affiche-t-on toute la table:
                             -SELECT * FROM <nom table>;
                                                                     
### Planning des taches à faire : 
                                #-Créer les tables nécessaires:
                                      - mini rapport d'une demi page sur la description des tables  
                                      (les attributs, les clés) - (fait ci-dessus)
                                      - mini script détaillant comment créer une table
                                      - rapport et script écrit tous les deux en mode notebook
                
                                #-Après avoir crée les tables, les alimenter avec le fichier 
                                titanic_train_csv et en faire une démo:
                             
                        
                                #-Créez des requêtes SQL afin d'interroger la base de données et 
                                visualiser les résultats:
                                      -mini rapport avec des visualisations et le script en mode 
                                       notebook
                                      -Démo, présentation
                                      -Pour cette dernière démonstration, vous devez répondre à ces 
                                       requêtes :
                                                    ■ Combien de classes de passagers différentes y 
                                                    avait-il à bord du Titanic ?
                                                    ■ Combien de passagers y avait-il dans chaque 
                                                    classe?
                                                    ■ Combien de femmes et d'hommes y avait-il dans
                                                    chaque classe?
                                                    ■ Comptez le nombre et le pourcentage de
                                                    survivants et de passagers morts.
                                                    ■ Visualiser la répartition des passagers 
                                                    survivants et morts par classe
                                                    ■ Visualiser la répartition des passagers 
                                                    survivants et des passagers décédés selon le sexe

# PHASE 2 #
 
## MINI RAPPORT:
 
Nous avons décider de crée 2 tables. Une table du nom de "titanic" qui reprend tout les données du fichier "titanic_train.csv". Et une deuxième table du nom 'Embarquement" qui contient les informations une partie des informations du fichier "titanic_train.csv".
 
La table "titanic", reprend toute les informations du fichier "titanic_train.csv".

la 2ème table "l'embarquement", le tableau reprend les informations suivante: PassengerId ,la cabine, le ticket et le tarif.

le première table a comme informations: le numéro des passagers (PassengerId), mais aussi si il s'agit de survivant ou non (Survived), la classe des passagers (Pclass),les noms des passagers (Name),leurs sexe (Sex) et les différents âge des passagers (Age). Puis on a aussi d'autres informations comme le nombre de frère et soeur ou encore si il y a un époux ou une épouse (Sibsp), le nombre parents et d'enfants (Parch),la cabine des passagers (Cabin), le billet des passagers (Ticket) et le tarif des billets (Fare) et pour finir on a l'embarquement (Embarked).

Pour la table "titanic", les attributs sont PassengerId, Survived, Pclass, Name, Sex , Age , Sibsp, Parch, Ticket, Fare, Cabin, Embarked.

La clé primaire de la table est "PassengerId".
Il n'y a pas de clé étrangère.

La seconde table prend comme informations le numéro des passagers (PassengerId) et la cabine des passagers (Cabin), le billet des passagers (Ticket) et le tarif des billets (Fare) et pour finir on a l'embarquement (Embarked) exactement comme le premier tableau.

Pour la table "Embarquement", les attributs sont PassengerId, Ticket, Fare, Cabin, Embarked.

la clé primaire de la table est "Ticket",
la clé étrangère de la table est "PassengerId".

### CREATION DE LA TABLE ET IMPORTATION DU FICHIER  ###

In [53]:
%reload_ext sql

In [54]:
%sql postgresql://postgres:chrislin1@localhost/postgres

In [55]:
%%sql
DROP TABLE IF EXISTS Titanic;
CREATE TABLE Titanic(PassengerId integer primary key,
                       Survived integer,
                       Pclass integer, 
                       Name varchar(84), 
                       Sex varchar(12), 
                       Age float, 
                       Sibsp integer, 
                       Parch integer,
                       Ticket varchar(18), 
                       Fare float, 
                       Cabin varchar(15), 
                       Embarked varchar(9));

 * postgresql://postgres:***@localhost/postgres

InternalError: (psycopg2.errors.DependentObjectsStillExist) ERREUR:  n'a pas pu supprimer table titanic car d'autres objets en dépendent
DETAIL:  vue nbmortsparclasse dépend de table titanic
vue nbvivantsparclasse dépend de table titanic
vue nbvivantsparclasseetsex dépend de table titanic
vue nbmortsparclasseetsex dépend de table titanic
HINT:  Utilisez DROP ... CASCADE pour supprimer aussi les objets dépendants.

[SQL: DROP TABLE IF EXISTS Titanic;]
(Background on this error at: http://sqlalche.me/e/14/2j85)

In [57]:
%%sql
copy titanic from '"C:\Users\chris\OneDrive\Bureau\SAE BDD\titanic_train.csv"' DELIMITER ',' CSV HEADER

 * postgresql://postgres:***@localhost/postgres

InternalError: (psycopg2.errors.InternalError_) ERREUR:  n'a pas pu ouvrir le fichier « "C:\Users\chris\OneDrive\Bureau\SAE BDD\titanic_train.csv" » pour une lecture : Invalid argument

[SQL: copy titanic from '"C:\Users\chris\OneDrive\Bureau\SAE BDD\titanic_train.csv"' DELIMITER ',' CSV HEADER]
(Background on this error at: http://sqlalche.me/e/14/2j85)

In [58]:
%%sql
select*from titanic;

 * postgresql://postgres:***@localhost/postgres
891 rows affected.

[(1, 0, 3, 'Braund, Mr. Owen Harris', 'male', 22.0, 1, 0, 'A/5 21171', 7.25, None, 'S'),
 (2, 1, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38.0, 1, 0, 'PC 17599', 71.2833, 'C85', 'C'),
 (3, 1, 3, 'Heikkinen, Miss. Laina', 'female', 26.0, 0, 0, 'STON/O2. 3101282', 7.925, None, 'S'),
 (4, 1, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35.0, 1, 0, '113803', 53.1, 'C123', 'S'),
 (5, 0, 3, 'Allen, Mr. William Henry', 'male', 35.0, 0, 0, '373450', 8.05, None, 'S'),
 (6, 0, 3, 'Moran, Mr. James', 'male', None, 0, 0, '330877', 8.4583, None, 'Q'),
 (7, 0, 1, 'McCarthy, Mr. Timothy J', 'male', 54.0, 0, 0, '17463', 51.8625, 'E46', 'S'),
 (8, 0, 3, 'Palsson, Master. Gosta Leonard', 'male', 2.0, 3, 1, '349909', 21.075, None, 'S'),
 (9, 1, 3, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27.0, 0, 2, '347742', 11.1333, None, 'S'),
 (10, 1, 2, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14.0, 1, 0, '237736', 30.0708, None, 'C'),
 (11, 1, 3, 'Sandstrom, Miss. Marguerite Rut', 'female', 4.0, 1, 1, 'PP 9549', 16.7, 'G6', 'S'),
 (12, 1, 1, 'Bonnell, Miss. Elizabeth', 'female', 58.0, 0, 0, '113783', 26.55, 'C103', 'S'),
 (13, 0, 3, 'Saundercock, Mr. William Henry', 'male', 20.0, 0, 0, 'A/5. 2151', 8.05, None, 'S'),
 (14, 0, 3, 'Andersson, Mr. Anders Johan', 'male', 39.0, 1, 5, '347082', 31.275, None, 'S'),
 (15, 0, 3, 'Vestrom, Miss. Hulda Amanda Adolfina', 'female', 14.0, 0, 0, '350406', 7.8542, None, 'S'),
 (16, 1, 2, 'Hewlett, Mrs. (Mary D Kingcome) ', 'female', 55.0, 0, 0, '248706', 16.0, None, 'S'),
 (17, 0, 3, 'Rice, Master. Eugene', 'male', 2.0, 4, 1, '382652', 29.125, None, 'Q'),
 (18, 1, 2, 'Williams, Mr. Charles Eugene', 'male', None, 0, 0, '244373', 13.0, None, 'S'),
 (19, 0, 3, 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'female', 31.0, 1, 0, '345763', 18.0, None, 'S'),
 (20, 1, 3, 'Masselmani, Mrs. Fatima', 'female', None, 0, 0, '2649', 7.225, None, 'C'),
 (21, 0, 2, 'Fynney, Mr. Joseph J', 'male', 35.0, 0, 0, '239865', 26.0, None, 'S'),
 (22, 1, 2, 'Beesley, Mr. Lawrence', 'male', 34.0, 0, 0, '248698', 13.0, 'D56', 'S'),
 (23, 1, 3, 'McGowan, Miss. Anna "Annie"', 'female', 15.0, 0, 0, '330923', 8.0292, None, 'Q'),
 (24, 1, 1, 'Sloper, Mr. William Thompson', 'male', 28.0, 0, 0, '113788', 35.5, 'A6', 'S'),
 (25, 0, 3, 'Palsson, Miss. Torborg Danira', 'female', 8.0, 3, 1, '349909', 21.075, None, 'S'),
 (26, 1, 3, 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'female', 38.0, 1, 5, '347077', 31.3875, None, 'S'),
 (27, 0, 3, 'Emir, Mr. Farred Chehab', 'male', None, 0, 0, '2631', 7.225, None, 'C'),
 (28, 0, 1, 'Fortune, Mr. Charles Alexander', 'male', 19.0, 3, 2, '19950', 263.0, 'C23 C25 C27', 'S'),
 (29, 1, 3, 'O\'Dwyer, Miss. Ellen "Nellie"', 'female', None, 0, 0, '330959', 7.8792, None, 'Q'),
 (30, 0, 3, 'Todoroff, Mr. Lalio', 'male', None, 0, 0, '349216', 7.8958, None, 'S'),
 (31, 0, 1, 'Uruchurtu, Don. Manuel E', 'male', 40.0, 0, 0, 'PC 17601', 27.7208, None, 'C'),
 (32, 1, 1, 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'female', None, 1, 0, 'PC 17569', 146.5208, 'B78', 'C'),
 (33, 1, 3, 'Glynn, Miss. Mary Agatha', 'female', None, 0, 0, '335677', 7.75, None, 'Q'),
 (34, 0, 2, 'Wheadon, Mr. Edward H', 'male', 66.0, 0, 0, 'C.A. 24579', 10.5, None, 'S'),
 (35, 0, 1, 'Meyer, Mr. Edgar Joseph', 'male', 28.0, 1, 0, 'PC 17604', 82.1708, None, 'C'),
 (36, 0, 1, 'Holverson, Mr. Alexander Oskar', 'male', 42.0, 1, 0, '113789', 52.0, None, 'S'),
 (37, 1, 3, 'Mamee, Mr. Hanna', 'male', None, 0, 0, '2677', 7.2292, None, 'C'),
 (38, 0, 3, 'Cann, Mr. Ernest Charles', 'male', 21.0, 0, 0, 'A./5. 2152', 8.05, None, 'S'),
 (39, 0, 3, 'Vander Planke, Miss. Augusta Maria', 'female', 18.0, 2, 0, '345764', 18.0, None, 'S'),
 (40, 1, 3, 'Nicola-Yarred, Miss. Jamila', 'female', 14.0, 1, 0, '2651', 11.2417, None, 'C'),
 (41, 0, 3, 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'female', 40.0, 1, 0, '7546', 9.475, None, 'S'),
 (42, 0, 2, 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'female', 27.0, 1, 0, '11668', 21.0, None, 'S'),
 (43, 0, 3, 'Kraeff, Mr. Theodor', 'male', None, 0, 0, '349253', 7.8958, None, 'C'),
 (44, 1, 2, 'Laroche, Miss. Simonne Marie Anne Andree', 'female', 3.0, 1, 2, 'SC/Paris 2123', 41.5792, None, 'C'),
 (45, 1, 3, 'Devaney, Miss. Margaret Delia', 'female', 19.0, 0, 0, '330958', 7.8792, None, 'Q'),
 (46, 0, 3, 'Rogers, Mr. William John', 'male', None, 0, 0, 'S.C./A.4. 23567', 8.05, None, 'S'),
 (47, 0, 3, 'Lennon, Mr. Denis', 'male', None, 1, 0, '370371', 15.5, None, 'Q'),
 (48, 1, 3, "O'Driscoll, Miss. Bridget", 'female', None, 0, 0, '14311', 7.75, None, 'Q'),
 (49, 0, 3, 'Samaan, Mr. Youssef', 'male', None, 2, 0, '2662', 21.6792, None, 'C'),
 (50, 0, 3, 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'female', 18.0, 1, 0, '349237', 17.8, None, 'S'),
 (51, 0, 3, 'Panula, Master. Juha Niilo', 'male', 7.0, 4, 1, '3101295', 39.6875, None, 'S'),
 (52, 0, 3, 'Nosworthy, Mr. Richard Cater', 'male', 21.0, 0, 0, 'A/4. 39886', 7.8, None, 'S'),
 (53, 1, 1, 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'female', 49.0, 1, 0, 'PC 17572', 76.7292, 'D33', 'C'),
 (54, 1, 2, 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'female', 29.0, 1, 0, '2926', 26.0, None, 'S'),
 (55, 0, 1, 'Ostby, Mr. Engelhart Cornelius', 'male', 65.0, 0, 1, '113509', 61.9792, 'B30', 'C'),
 (56, 1, 1, 'Woolner, Mr. Hugh', 'male', None, 0, 0, '19947', 35.5, 'C52', 'S'),
 (57, 1, 2, 'Rugg, Miss. Emily', 'female', 21.0, 0, 0, 'C.A. 31026', 10.5, None, 'S'),
 (58, 0, 3, 'Novel, Mr. Mansouer', 'male', 28.5, 0, 0, '2697', 7.2292, None, 'C'),
 (59, 1, 2, 'West, Miss. Constance Mirium', 'female', 5.0, 1, 2, 'C.A. 34651', 27.75, None, 'S'),
 (60, 0, 3, 'Goodwin, Master. William Frederick', 'male', 11.0, 5, 2, 'CA 2144', 46.9, None, 'S'),
 (61, 0, 3, 'Sirayanian, Mr. Orsen', 'male', 22.0, 0, 0, '2669', 7.2292, None, 'C'),
 (62, 1, 1, 'Icard, Miss. Amelie', 'female', 38.0, 0, 0, '113572', 80.0, 'B28', None),
 (63, 0, 1, 'Harris, Mr. Henry Birkhardt', 'male', 45.0, 1, 0, '36973', 83.475, 'C83', 'S'),
 (64, 0, 3, 'Skoog, Master. Harald', 'male', 4.0, 3, 2, '347088', 27.9, None, 'S'),
 (65, 0, 1, 'Stewart, Mr. Albert A', 'male', None, 0, 0, 'PC 17605', 27.7208, None, 'C'),
 (66, 1, 3, 'Moubarek, Master. Gerios', 'male', None, 1, 1, '2661', 15.2458, None, 'C'),
 (67, 1, 2, 'Nye, Mrs. (Elizabeth Ramell)', 'female', 29.0, 0, 0, 'C.A. 29395', 10.5, 'F33', 'S'),
 (68, 0, 3, 'Crease, Mr. Ernest James', 'male', 19.0, 0, 0, 'S.P. 3464', 8.1583, None, 'S'),
 (69, 1, 3, 'Andersson, Miss. Erna Alexandra', 'female', 17.0, 4, 2, '3101281', 7.925, None, 'S'),
 (70, 0, 3, 'Kink, Mr. Vincenz', 'male', 26.0, 2, 0, '315151', 8.6625, None, 'S'),
 (71, 0, 2, 'Jenkin, Mr. Stephen Curnow', 'male', 32.0, 0, 0, 'C.A. 33111', 10.5, None, 'S'),
 (72, 0, 3, 'Goodwin, Miss. Lillian Amy', 'female', 16.0, 5, 2, 'CA 2144', 46.9, None, 'S'),
 (73, 0, 2, 'Hood, Mr. Ambrose Jr', 'male', 21.0, 0, 0, 'S.O.C. 14879', 73.5, None, 'S'),
 (74, 0, 3, 'Chronopoulos, Mr. Apostolos', 'male', 26.0, 1, 0, '2680', 14.4542, None, 'C'),
 (75, 1, 3, 'Bing, Mr. Lee', 'male', 32.0, 0, 0, '1601', 56.4958, None, 'S'),
 (76, 0, 3, 'Moen, Mr. Sigurd Hansen', 'male', 25.0, 0, 0, '348123', 7.65, 'F G73', 'S'),
 (77, 0, 3, 'Staneff, Mr. Ivan', 'male', None, 0, 0, '349208', 7.8958, None, 'S'),
 (78, 0, 3, 'Moutal, Mr. Rahamin Haim', 'male', None, 0, 0, '374746', 8.05, None, 'S'),
 (79, 1, 2, 'Caldwell, Master. Alden Gates', 'male', 0.83, 0, 2, '248738', 29.0, None, 'S'),
 (80, 1, 3, 'Dowdell, Miss. Elizabeth', 'female', 30.0, 0, 0, '364516', 12.475, None, 'S'),
 (81, 0, 3, 'Waelens, Mr. Achille', 'male', 22.0, 0, 0, '345767', 9.0, None, 'S'),
 (82, 1, 3, 'Sheerlinck, Mr. Jan Baptist', 'male', 29.0, 0, 0, '345779', 9.5, None, 'S'),
 (83, 1, 3, 'McDermott, Miss. Brigdet Delia', 'female', None, 0, 0, '330932', 7.7875, None, 'Q'),
 (84, 0, 1, 'Carrau, Mr. Francisco M', 'male', 28.0, 0, 0, '113059', 47.1, None, 'S'),
 (85, 1, 2, 'Ilett, Miss. Bertha', 'female', 17.0, 0, 0, 'SO/C 14885', 10.5, None, 'S'),
 (86, 1, 3, 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'female', 33.0, 3, 0, '3101278', 15.85, None, 'S'),
 (87, 0, 3, 'Ford, Mr. William Neal', 'male', 16.0, 1, 3, 'W./C. 6608', 34.375, None, 'S'),
 (88, 0, 3, 'Slocovski, Mr. Selman Francis', 'male', None, 0, 0, 'SOTON/OQ 392086', 8.05, None, 'S'),
 (89, 1, 1, 'Fortune, Miss. Mabel Helen', 'female', 23.0, 3, 2, '19950', 263.0, 'C23 C25 C27', 'S'),
 (90, 0, 3, 'Celotti, Mr. Francesco', 'male', 24.0, 0, 0, '343275', 8.05, None, 'S'),
 (91, 0, 3, 'Christmann, Mr. Emil', 'male', 29.0, 0, 0, '343276', 8.05, None, 'S'),
 (92, 0, 3, 'Andreasson, Mr. Paul Edvin', 'male', 20.0, 0, 0, '347466', 7.8542, None, 'S'),
 (93, 0, 1, 'Chaffee, Mr. Herbert Fuller', 'male', 46.0, 1, 0, 'W.E.P. 5734', 61.175, 'E31', 'S'),
 (94, 0, 3, 'Dean, Mr. Bertram Frank', 'male', 26.0, 1, 2, 'C.A. 2315', 20.575, None, 'S'),
 (95, 0, 3, 'Coxon, Mr. Daniel', 'male', 59.0, 0, 0, '364500', 7.25, None, 'S'),
 (96, 0, 3, 'Shorney, Mr. Charles Joseph', 'male', None, 0, 0, '374910', 8.05, None, 'S'),
 (97, 0, 1, 'Goldschmidt, Mr. George B', 'male', 71.0, 0, 0, 'PC 17754', 34.6542, 'A5', 'C'),
 (98, 1, 1, 'Greenfield, Mr. William Bertram', 'male', 23.0, 0, 1, 'PC 17759', 63.3583, 'D10 D12', 'C'),
 (99, 1, 2, 'Doling, Mrs. John T (Ada Julia Bone)', 'female', 34.0, 0, 1, '231919', 23.0, None, 'S'),
 (100, 0, 2, 'Kantor, Mr. Sinai', 'male', 34.0, 1, 0, '244367', 26.0, None, 'S'),
 (101, 0, 3, 'Petranec, Miss. Matilda', 'female', 28.0, 0, 0, '349245', 7.8958, None, 'S'),
 (102, 0, 3, 'Petroff, Mr. Pastcho ("Pentcho")', 'male', None, 0, 0, '349215', 7.8958, None, 'S'),
 (103, 0, 1, 'White, Mr. Richard Frasar', 'male', 21.0, 0, 1, '35281', 77.2875, 'D26', 'S'),
 (104, 0, 3, 'Johansson, Mr. Gustaf Joel', 'male', 33.0, 0, 0, '7540', 8.6542, None, 'S'),
 (105, 0, 3, 'Gustafsson, Mr. Anders Vilhelm', 'male', 37.0, 2, 0, '3101276', 7.925, None, 'S'),
 (106, 0, 3, 'Mionoff, Mr. Stoytcho', 'male', 28.0, 0, 0, '349207', 7.8958, None, 'S'),
 (107, 1, 3, 'Salkjelsvik, Miss. Anna Kristine', 'female', 21.0, 0, 0, '343120', 7.65, None, 'S'),
 (108, 1, 3, 'Moss, Mr. Albert Johan', 'male', None, 0, 0, '312991', 7.775, None, 'S'),
 (109, 0, 3, 'Rekic, Mr. Tido', 'male', 38.0, 0, 0, '349249', 7.8958, None, 'S'),
 (110, 1, 3, 'Moran, Miss. Bertha', 'female', None, 1, 0, '371110', 24.15, None, 'Q'),
 (111, 0, 1, 'Porter, Mr. Walter Chamberlain', 'male', 47.0, 0, 0, '110465', 52.0, 'C110', 'S'),
 (112, 0, 3, 'Zabour, Miss. Hileni', 'female', 14.5, 1, 0, '2665', 14.4542, None, 'C'),
 (113, 0, 3, 'Barton, Mr. David John', 'male', 22.0, 0, 0, '324669', 8.05, None, 'S'),
 (114, 0, 3, 'Jussila, Miss. Katriina', 'female', 20.0, 1, 0, '4136', 9.825, None, 'S'),
 (115, 0, 3, 'Attalah, Miss. Malake', 'female', 17.0, 0, 0, '2627', 14.4583, None, 'C'),
 (116, 0, 3, 'Pekoniemi, Mr. Edvard', 'male', 21.0, 0, 0, 'STON/O 2. 3101294', 7.925, None, 'S'),
 (117, 0, 3, 'Connors, Mr. Patrick', 'male', 70.5, 0, 0, '370369', 7.75, None, 'Q'),
 (118, 0, 2, 'Turpin, Mr. William John Robert', 'male', 29.0, 1, 0, '11668', 21.0, None, 'S'),
 (119, 0, 1, 'Baxter, Mr. Quigg Edmond', 'male', 24.0, 0, 1, 'PC 17558', 247.5208, 'B58 B60', 'C'),
 (120, 0, 3, 'Andersson, Miss. Ellis Anna Maria', 'female', 2.0, 4, 2, '347082', 31.275, None, 'S'),
 (121, 0, 2, 'Hickman, Mr. Stanley George', 'male', 21.0, 2, 0, 'S.O.C. 14879', 73.5, None, 'S'),
 (122, 0, 3, 'Moore, Mr. Leonard Charles', 'male', None, 0, 0, 'A4. 54510', 8.05, None, 'S'),
 (123, 0, 2, 'Nasser, Mr. Nicholas', 'male', 32.5, 1, 0, '237736', 30.0708, None, 'C'),
 (124, 1, 2, 'Webber, Miss. Susan', 'female', 32.5, 0, 0, '27267', 13.0, 'E101', 'S'),
 (125, 0, 1, 'White, Mr. Percival Wayland', 'male', 54.0, 0, 1, '35281', 77.2875, 'D26', 'S'),
 (126, 1, 3, 'Nicola-Yarred, Master. Elias', 'male', 12.0, 1, 0, '2651', 11.2417, None, 'C'),
 (127, 0, 3, 'McMahon, Mr. Martin', 'male', None, 0, 0, '370372', 7.75, None, 'Q'),
 (128, 1, 3, 'Madsen, Mr. Fridtjof Arne', 'male', 24.0, 0, 0, 'C 17369', 7.1417, None, 'S'),
 (129, 1, 3, 'Peter, Miss. Anna', 'female', None, 1, 1, '2668', 22.3583, 'F E69', 'C'),
 (130, 0, 3, 'Ekstrom, Mr. Johan', 'male', 45.0, 0, 0, '347061', 6.975, None, 'S'),
 (131, 0, 3, 'Drazenoic, Mr. Jozef', 'male', 33.0, 0, 0, '349241', 7.8958, None, 'C'),
 (132, 0, 3, 'Coelho, Mr. Domingos Fernandeo', 'male', 20.0, 0, 0, 'SOTON/O.Q. 3101307', 7.05, None, 'S'),
 (133, 0, 3, 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'female', 47.0, 1, 0, 'A/5. 3337', 14.5, None, 'S'),
 (134, 1, 2, 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'female', 29.0, 1, 0, '228414', 26.0, None, 'S'),
 (135, 0, 2, 'Sobey, Mr. Samuel James Hayden', 'male', 25.0, 0, 0, 'C.A. 29178', 13.0, None, 'S'),
 (136, 0, 2, 'Richard, Mr. Emile', 'male', 23.0, 0, 0, 'SC/PARIS 2133', 15.0458, None, 'C'),
 (137, 1, 1, 'Newsom, Miss. Helen Monypeny', 'female', 19.0, 0, 2, '11752', 26.2833, 'D47', 'S'),
 (138, 0, 1, 'Futrelle, Mr. Jacques Heath', 'male', 37.0, 1, 0, '113803', 53.1, 'C123', 'S'),
 (139, 0, 3, 'Osen, Mr. Olaf Elon', 'male', 16.0, 0, 0, '7534', 9.2167, None, 'S'),
 (140, 0, 1, 'Giglio, Mr. Victor', 'male', 24.0, 0, 0, 'PC 17593', 79.2, 'B86', 'C'),
 (141, 0, 3, 'Boulos, Mrs. Joseph (Sultana)', 'female', None, 0, 2, '2678', 15.2458, None, 'C'),
 (142, 1, 3, 'Nysten, Miss. Anna Sofia', 'female', 22.0, 0, 0, '347081', 7.75, None, 'S'),
 (143, 1, 3, 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'female', 24.0, 1, 0, 'STON/O2. 3101279', 15.85, None, 'S'),
 (144, 0, 3, 'Burke, Mr. Jeremiah', 'male', 19.0, 0, 0, '365222', 6.75, None, 'Q'),
 (145, 0, 2, 'Andrew, Mr. Edgardo Samuel', 'male', 18.0, 0, 0, '231945', 11.5, None, 'S'),
 (146, 0, 2, 'Nicholls, Mr. Joseph Charles', 'male', 19.0, 1, 1, 'C.A. 33112', 36.75, None, 'S'),
 (147, 1, 3, 'Andersson, Mr. August Edvard ("Wennerstrom")', 'male', 27.0, 0, 0, '350043', 7.7958, None, 'S'),
 (148, 0, 3, 'Ford, Miss. Robina Maggie "Ruby"', 'female', 9.0, 2, 2, 'W./C. 6608', 34.375, None, 'S'),
 (149, 0, 2, 'Navratil, Mr. Michel ("Louis M Hoffman")', 'male', 36.5, 0, 2, '230080', 26.0, 'F2', 'S'),
 (150, 0, 2, 'Byles, Rev. Thomas Roussel Davids', 'male', 42.0, 0, 0, '244310', 13.0, None, 'S'),
 (151, 0, 2, 'Bateman, Rev. Robert James', 'male', 51.0, 0, 0, 'S.O.P. 1166', 12.525, None, 'S'),
 (152, 1, 1, 'Pears, Mrs. Thomas (Edith Wearne)', 'female', 22.0, 1, 0, '113776', 66.6, 'C2', 'S'),
 (153, 0, 3, 'Meo, Mr. Alfonzo', 'male', 55.5, 0, 0, 'A.5. 11206', 8.05, None, 'S'),
 (154, 0, 3, 'van Billiard, Mr. Austin Blyler', 'male', 40.5, 0, 2, 'A/5. 851', 14.5, None, 'S'),
 (155, 0, 3, 'Olsen, Mr. Ole Martin', 'male', None, 0, 0, 'Fa 265302', 7.3125, None, 'S'),
 (156, 0, 1, 'Williams, Mr. Charles Duane', 'male', 51.0, 0, 1, 'PC 17597', 61.3792, None, 'C'),
 (157, 1, 3, 'Gilnagh, Miss. Katherine "Katie"', 'female', 16.0, 0, 0, '35851', 7.7333, None, 'Q'),
 (158, 0, 3, 'Corn, Mr. Harry', 'male', 30.0, 0, 0, 'SOTON/OQ 392090', 8.05, None, 'S'),
 (159, 0, 3, 'Smiljanic, Mr. Mile', 'male', None, 0, 0, '315037', 8.6625, None, 'S'),
 (160, 0, 3, 'Sage, Master. Thomas Henry', 'male', None, 8, 2, 'CA. 2343', 69.55, None, 'S'),
 (161, 0, 3, 'Cribb, Mr. John Hatfield', 'male', 44.0, 0, 1, '371362', 16.1, None, 'S'),
 (162, 1, 2, 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)', 'female', 40.0, 0, 0, 'C.A. 33595', 15.75, None, 'S'),
 (163, 0, 3, 'Bengtsson, Mr. John Viktor', 'male', 26.0, 0, 0, '347068', 7.775, None, 'S'),
 (164, 0, 3, 'Calic, Mr. Jovo', 'male', 17.0, 0, 0, '315093', 8.6625, None, 'S'),
 (165, 0, 3, 'Panula, Master. Eino Viljami', 'male', 1.0, 4, 1, '3101295', 39.6875, None, 'S'),
 (166, 1, 3, 'Goldsmith, Master. Frank John William "Frankie"', 'male', 9.0, 0, 2, '363291', 20.525, None, 'S'),
 (167, 1, 1, 'Chibnall, Mrs. (Edith Martha Bowerman)', 'female', None, 0, 1, '113505', 55.0, 'E33', 'S'),
 (168, 0, 3, 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'female', 45.0, 1, 4, '347088', 27.9, None, 'S'),
 (169, 0, 1, 'Baumann, Mr. John D', 'male', None, 0, 0, 'PC 17318', 25.925, None, 'S'),
 (170, 0, 3, 'Ling, Mr. Lee', 'male', 28.0, 0, 0, '1601', 56.4958, None, 'S'),
 (171, 0, 1, 'Van der hoef, Mr. Wyckoff', 'male', 61.0, 0, 0, '111240', 33.5, 'B19', 'S'),
 (172, 0, 3, 'Rice, Master. Arthur', 'male', 4.0, 4, 1, '382652', 29.125, None, 'Q'),
 (173, 1, 3, 'Johnson, Miss. Eleanor Ileen', 'female', 1.0, 1, 1, '347742', 11.1333, None, 'S'),
 (174, 0, 3, 'Sivola, Mr. Antti Wilhelm', 'male', 21.0, 0, 0, 'STON/O 2. 3101280', 7.925, None, 'S'),
 (175, 0, 1, 'Smith, Mr. James Clinch', 'male', 56.0, 0, 0, '17764', 30.6958, 'A7', 'C'),
 (176, 0, 3, 'Klasen, Mr. Klas Albin', 'male', 18.0, 1, 1, '350404', 7.8542, None, 'S'),
 (177, 0, 3, 'Lefebre, Master. Henry Forbes', 'male', None, 3, 1, '4133', 25.4667, None, 'S'),
 (178, 0, 1, 'Isham, Miss. Ann Elizabeth', 'female', 50.0, 0, 0, 'PC 17595', 28.7125, 'C49', 'C'),
 (179, 0, 2, 'Hale, Mr. Reginald', 'male', 30.0, 0, 0, '250653', 13.0, None, 'S'),
 (180, 0, 3, 'Leonard, Mr. Lionel', 'male', 36.0, 0, 0, 'LINE', 0.0, None, 'S'),
 (181, 0, 3, 'Sage, Miss. Constance Gladys', 'female', None, 8, 2, 'CA. 2343', 69.55, None, 'S'),
 (182, 0, 2, 'Pernot, Mr. Rene', 'male', None, 0, 0, 'SC/PARIS 2131', 15.05, None, 'C'),
 (183, 0, 3, 'Asplund, Master. Clarence Gustaf Hugo', 'male', 9.0, 4, 2, '347077', 31.3875, None, 'S'),
 (184, 1, 2, 'Becker, Master. Richard F', 'male', 1.0, 2, 1, '230136', 39.0, 'F4', 'S'),
 (185, 1, 3, 'Kink-Heilmann, Miss. Luise Gretchen', 'female', 4.0, 0, 2, '315153', 22.025, None, 'S'),
 (186, 0, 1, 'Rood, Mr. Hugh Roscoe', 'male', None, 0, 0, '113767', 50.0, 'A32', 'S'),
 (187, 1, 3, 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)', 'female', None, 1, 0, '370365', 15.5, None, 'Q'),
 (188, 1, 1, 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")', 'male', 45.0, 0, 0, '111428', 26.55, None, 'S'),
 (189, 0, 3, 'Bourke, Mr. John', 'male', 40.0, 1, 1, '364849', 15.5, None, 'Q'),
 (190, 0, 3, 'Turcin, Mr. Stjepan', 'male', 36.0, 0, 0, '349247', 7.8958, None, 'S'),
 (191, 1, 2, 'Pinsky, Mrs. (Rosa)', 'female', 32.0, 0, 0, '234604', 13.0, None, 'S'),
 (192, 0, 2, 'Carbines, Mr. William', 'male', 19.0, 0, 0, '28424', 13.0, None, 'S'),
 (193, 1, 3, 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'female', 19.0, 1, 0, '350046', 7.8542, None, 'S'),
 (194, 1, 2, 'Navratil, Master. Michel M', 'male', 3.0, 1, 1, '230080', 26.0, 'F2', 'S'),
 (195, 1, 1, 'Brown, Mrs. James Joseph (Margaret Tobin)', 'female', 44.0, 0, 0, 'PC 17610', 27.7208, 'B4', 'C'),
 (196, 1, 1, 'Lurette, Miss. Elise', 'female', 58.0, 0, 0, 'PC 17569', 146.5208, 'B80', 'C'),
 (197, 0, 3, 'Mernagh, Mr. Robert', 'male', None, 0, 0, '368703', 7.75, None, 'Q'),
 (198, 0, 3, 'Olsen, Mr. Karl Siegwart Andreas', 'male', 42.0, 0, 1, '4579', 8.4042, None, 'S'),
 (199, 1, 3, 'Madigan, Miss. Margaret "Maggie"', 'female', None, 0, 0, '370370', 7.75, None, 'Q'),
 (200, 0, 2, 'Yrois, Miss. Henriette ("Mrs Harbeck")', 'female', 24.0, 0, 0, '248747', 13.0, None, 'S'),
 (201, 0, 3, 'Vande Walle, Mr. Nestor Cyriel', 'male', 28.0, 0, 0, '345770', 9.5, None, 'S'),
 (202, 0, 3, 'Sage, Mr. Frederick', 'male', None, 8, 2, 'CA. 2343', 69.55, None, 'S'),
 (203, 0, 3, 'Johanson, Mr. Jakob Alfred', 'male', 34.0, 0, 0, '3101264', 6.4958, None, 'S'),
 (204, 0, 3, 'Youseff, Mr. Gerious', 'male', 45.5, 0, 0, '2628', 7.225, None, 'C'),
 (205, 1, 3, 'Cohen, Mr. Gurshon "Gus"', 'male', 18.0, 0, 0, 'A/5 3540', 8.05, None, 'S'),
 (206, 0, 3, 'Strom, Miss. Telma Matilda', 'female', 2.0, 0, 1, '347054', 10.4625, 'G6', 'S'),
 (207, 0, 3, 'Backstrom, Mr. Karl Alfred', 'male', 32.0, 1, 0, '3101278', 15.85, None, 'S'),
 (208, 1, 3, 'Albimona, Mr. Nassef Cassem', 'male', 26.0, 0, 0, '2699', 18.7875, None, 'C'),
 (209, 1, 3, 'Carr, Miss. Helen "Ellen"', 'female', 16.0, 0, 0, '367231', 7.75, None, 'Q'),
 (210, 1, 1, 'Blank, Mr. Henry', 'male', 40.0, 0, 0, '112277', 31.0, 'A31', 'C'),
 (211, 0, 3, 'Ali, Mr. Ahmed', 'male', 24.0, 0, 0, 'SOTON/O.Q. 3101311', 7.05, None, 'S'),

In [68]:
%%sql
DROP TABLE IF EXISTS Embarquement;
CREATE TABLE Embarquement(PassengerId integer,   
                       Ticket varchar(18), 
                       Fare float, 
                       Cabin varchar(15), 
                       Embarked varchar(9));

 * postgresql://postgres:***@localhost/postgres
Done.
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [71]:
%%sql
copy Embarquement from 'C:\Users\chris\OneDrive\Bureau\SAE BDD\titanic_train2.csv' DELIMITER ',' CSV HEADER

 * postgresql://postgres:***@localhost/postgres
891 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [72]:
%%sql
select*from Embarquement;

 * postgresql://postgres:***@localhost/postgres
891 rows affected.

[(1, 'A/5 21171', 7.25, None, 'S'),
 (2, 'PC 17599', 71.2833, 'C85', 'C'),
 (3, 'STON/O2. 3101282', 7.925, None, 'S'),
 (4, '113803', 53.1, 'C123', 'S'),
 (5, '373450', 8.05, None, 'S'),
 (6, '330877', 8.4583, None, 'Q'),
 (7, '17463', 51.8625, 'E46', 'S'),
 (8, '349909', 21.075, None, 'S'),
 (9, '347742', 11.1333, None, 'S'),
 (10, '237736', 30.0708, None, 'C'),
 (11, 'PP 9549', 16.7, 'G6', 'S'),
 (12, '113783', 26.55, 'C103', 'S'),
 (13, 'A/5. 2151', 8.05, None, 'S'),
 (14, '347082', 31.275, None, 'S'),
 (15, '350406', 7.8542, None, 'S'),
 (16, '248706', 16.0, None, 'S'),
 (17, '382652', 29.125, None, 'Q'),
 (18, '244373', 13.0, None, 'S'),
 (19, '345763', 18.0, None, 'S'),
 (20, '2649', 7.225, None, 'C'),
 (21, '239865', 26.0, None, 'S'),
 (22, '248698', 13.0, 'D56', 'S'),
 (23, '330923', 8.0292, None, 'Q'),
 (24, '113788', 35.5, 'A6', 'S'),
 (25, '349909', 21.075, None, 'S'),
 (26, '347077', 31.3875, None, 'S'),
 (27, '2631', 7.225, None, 'C'),
 (28, '19950', 263.0, 'C23 C25 C27', 'S'),
 (29, '330959', 7.8792, None, 'Q'),
 (30, '349216', 7.8958, None, 'S'),
 (31, 'PC 17601', 27.7208, None, 'C'),
 (32, 'PC 17569', 146.5208, 'B78', 'C'),
 (33, '335677', 7.75, None, 'Q'),
 (34, 'C.A. 24579', 10.5, None, 'S'),
 (35, 'PC 17604', 82.1708, None, 'C'),
 (36, '113789', 52.0, None, 'S'),
 (37, '2677', 7.2292, None, 'C'),
 (38, 'A./5. 2152', 8.05, None, 'S'),
 (39, '345764', 18.0, None, 'S'),
 (40, '2651', 11.2417, None, 'C'),
 (41, '7546', 9.475, None, 'S'),
 (42, '11668', 21.0, None, 'S'),
 (43, '349253', 7.8958, None, 'C'),
 (44, 'SC/Paris 2123', 41.5792, None, 'C'),
 (45, '330958', 7.8792, None, 'Q'),
 (46, 'S.C./A.4. 23567', 8.05, None, 'S'),
 (47, '370371', 15.5, None, 'Q'),
 (48, '14311', 7.75, None, 'Q'),
 (49, '2662', 21.6792, None, 'C'),
 (50, '349237', 17.8, None, 'S'),
 (51, '3101295', 39.6875, None, 'S'),
 (52, 'A/4. 39886', 7.8, None, 'S'),
 (53, 'PC 17572', 76.7292, 'D33', 'C'),
 (54, '2926', 26.0, None, 'S'),
 (55, '113509', 61.9792, 'B30', 'C'),
 (56, '19947', 35.5, 'C52', 'S'),
 (57, 'C.A. 31026', 10.5, None, 'S'),
 (58, '2697', 7.2292, None, 'C'),
 (59, 'C.A. 34651', 27.75, None, 'S'),
 (60, 'CA 2144', 46.9, None, 'S'),
 (61, '2669', 7.2292, None, 'C'),
 (62, '113572', 80.0, 'B28', None),
 (63, '36973', 83.475, 'C83', 'S'),
 (64, '347088', 27.9, None, 'S'),
 (65, 'PC 17605', 27.7208, None, 'C'),
 (66, '2661', 15.2458, None, 'C'),
 (67, 'C.A. 29395', 10.5, 'F33', 'S'),
 (68, 'S.P. 3464', 8.1583, None, 'S'),
 (69, '3101281', 7.925, None, 'S'),
 (70, '315151', 8.6625, None, 'S'),
 (71, 'C.A. 33111', 10.5, None, 'S'),
 (72, 'CA 2144', 46.9, None, 'S'),
 (73, 'S.O.C. 14879', 73.5, None, 'S'),
 (74, '2680', 14.4542, None, 'C'),
 (75, '1601', 56.4958, None, 'S'),
 (76, '348123', 7.65, 'F G73', 'S'),
 (77, '349208', 7.8958, None, 'S'),
 (78, '374746', 8.05, None, 'S'),
 (79, '248738', 29.0, None, 'S'),
 (80, '364516', 12.475, None, 'S'),
 (81, '345767', 9.0, None, 'S'),
 (82, '345779', 9.5, None, 'S'),
 (83, '330932', 7.7875, None, 'Q'),
 (84, '113059', 47.1, None, 'S'),
 (85, 'SO/C 14885', 10.5, None, 'S'),
 (86, '3101278', 15.85, None, 'S'),
 (87, 'W./C. 6608', 34.375, None, 'S'),
 (88, 'SOTON/OQ 392086', 8.05, None, 'S'),
 (89, '19950', 263.0, 'C23 C25 C27', 'S'),
 (90, '343275', 8.05, None, 'S'),
 (91, '343276', 8.05, None, 'S'),
 (92, '347466', 7.8542, None, 'S'),
 (93, 'W.E.P. 5734', 61.175, 'E31', 'S'),
 (94, 'C.A. 2315', 20.575, None, 'S'),
 (95, '364500', 7.25, None, 'S'),
 (96, '374910', 8.05, None, 'S'),
 (97, 'PC 17754', 34.6542, 'A5', 'C'),
 (98, 'PC 17759', 63.3583, 'D10 D12', 'C'),
 (99, '231919', 23.0, None, 'S'),
 (100, '244367', 26.0, None, 'S'),
 (101, '349245', 7.8958, None, 'S'),
 (102, '349215', 7.8958, None, 'S'),
 (103, '35281', 77.2875, 'D26', 'S'),
 (104, '7540', 8.6542, None, 'S'),
 (105, '3101276', 7.925, None, 'S'),
 (106, '349207', 7.8958, None, 'S'),
 (107, '343120', 7.65, None, 'S'),
 (108, '312991', 7.775, None, 'S'),
 (109, '349249', 7.8958, None, 'S'),
 (110, '371110', 24.15, None, 'Q'),
 (111, '110465', 52.0, 'C110', 'S'),
 (112, '2665', 14.4542, None, 'C'),
 (113, '324669', 8.05, None, 'S'),
 (114, '4136', 9.825, None, 'S'),
 (115, '2627', 14.4583, None, 'C'),
 (116, 'STON/O 2. 3101294', 7.925, None, 'S'),
 (117, '370369', 7.75, None, 'Q'),
 (118, '11668', 21.0, None, 'S'),
 (119, 'PC 17558', 247.5208, 'B58 B60', 'C'),
 (120, '347082', 31.275, None, 'S'),
 (121, 'S.O.C. 14879', 73.5, None, 'S'),
 (122, 'A4. 54510', 8.05, None, 'S'),
 (123, '237736', 30.0708, None, 'C'),
 (124, '27267', 13.0, 'E101', 'S'),
 (125, '35281', 77.2875, 'D26', 'S'),
 (126, '2651', 11.2417, None, 'C'),
 (127, '370372', 7.75, None, 'Q'),
 (128, 'C 17369', 7.1417, None, 'S'),
 (129, '2668', 22.3583, 'F E69', 'C'),
 (130, '347061', 6.975, None, 'S'),
 (131, '349241', 7.8958, None, 'C'),
 (132, 'SOTON/O.Q. 3101307', 7.05, None, 'S'),
 (133, 'A/5. 3337', 14.5, None, 'S'),
 (134, '228414', 26.0, None, 'S'),
 (135, 'C.A. 29178', 13.0, None, 'S'),
 (136, 'SC/PARIS 2133', 15.0458, None, 'C'),
 (137, '11752', 26.2833, 'D47', 'S'),
 (138, '113803', 53.1, 'C123', 'S'),
 (139, '7534', 9.2167, None, 'S'),
 (140, 'PC 17593', 79.2, 'B86', 'C'),
 (141, '2678', 15.2458, None, 'C'),
 (142, '347081', 7.75, None, 'S'),
 (143, 'STON/O2. 3101279', 15.85, None, 'S'),
 (144, '365222', 6.75, None, 'Q'),
 (145, '231945', 11.5, None, 'S'),
 (146, 'C.A. 33112', 36.75, None, 'S'),
 (147, '350043', 7.7958, None, 'S'),
 (148, 'W./C. 6608', 34.375, None, 'S'),
 (149, '230080', 26.0, 'F2', 'S'),
 (150, '244310', 13.0, None, 'S'),
 (151, 'S.O.P. 1166', 12.525, None, 'S'),
 (152, '113776', 66.6, 'C2', 'S'),
 (153, 'A.5. 11206', 8.05, None, 'S'),
 (154, 'A/5. 851', 14.5, None, 'S'),
 (155, 'Fa 265302', 7.3125, None, 'S'),
 (156, 'PC 17597', 61.3792, None, 'C'),
 (157, '35851', 7.7333, None, 'Q'),
 (158, 'SOTON/OQ 392090', 8.05, None, 'S'),
 (159, '315037', 8.6625, None, 'S'),
 (160, 'CA. 2343', 69.55, None, 'S'),
 (161, '371362', 16.1, None, 'S'),
 (162, 'C.A. 33595', 15.75, None, 'S'),
 (163, '347068', 7.775, None, 'S'),
 (164, '315093', 8.6625, None, 'S'),
 (165, '3101295', 39.6875, None, 'S'),
 (166, '363291', 20.525, None, 'S'),
 (167, '113505', 55.0, 'E33', 'S'),
 (168, '347088', 27.9, None, 'S'),
 (169, 'PC 17318', 25.925, None, 'S'),
 (170, '1601', 56.4958, None, 'S'),
 (171, '111240', 33.5, 'B19', 'S'),
 (172, '382652', 29.125, None, 'Q'),
 (173, '347742', 11.1333, None, 'S'),
 (174, 'STON/O 2. 3101280', 7.925, None, 'S'),
 (175, '17764', 30.6958, 'A7', 'C'),
 (176, '350404', 7.8542, None, 'S'),
 (177, '4133', 25.4667, None, 'S'),
 (178, 'PC 17595', 28.7125, 'C49', 'C'),
 (179, '250653', 13.0, None, 'S'),
 (180, 'LINE', 0.0, None, 'S'),
 (181, 'CA. 2343', 69.55, None, 'S'),
 (182, 'SC/PARIS 2131', 15.05, None, 'C'),
 (183, '347077', 31.3875, None, 'S'),
 (184, '230136', 39.0, 'F4', 'S'),
 (185, '315153', 22.025, None, 'S'),
 (186, '113767', 50.0, 'A32', 'S'),
 (187, '370365', 15.5, None, 'Q'),
 (188, '111428', 26.55, None, 'S'),
 (189, '364849', 15.5, None, 'Q'),
 (190, '349247', 7.8958, None, 'S'),
 (191, '234604', 13.0, None, 'S'),
 (192, '28424', 13.0, None, 'S'),
 (193, '350046', 7.8542, None, 'S'),
 (194, '230080', 26.0, 'F2', 'S'),
 (195, 'PC 17610', 27.7208, 'B4', 'C'),
 (196, 'PC 17569', 146.5208, 'B80', 'C'),
 (197, '368703', 7.75, None, 'Q'),
 (198, '4579', 8.4042, None, 'S'),
 (199, '370370', 7.75, None, 'Q'),
 (200, '248747', 13.0, None, 'S'),
 (201, '345770', 9.5, None, 'S'),
 (202, 'CA. 2343', 69.55, None, 'S'),
 (203, '3101264', 6.4958, None, 'S'),
 (204, '2628', 7.225, None, 'C'),
 (205, 'A/5 3540', 8.05, None, 'S'),
 (206, '347054', 10.4625, 'G6', 'S'),
 (207, '3101278', 15.85, None, 'S'),
 (208, '2699', 18.7875, None, 'C'),
 (209, '367231', 7.75, None, 'Q'),
 (210, '112277', 31.0, 'A31', 'C'),
 (211, 'SOTON/O.Q. 3101311', 7.05, None, 'S'),
 (212, 'F.C.C. 13528', 21.0, None, 'S'),
 (213, 'A/5 21174', 7.25, None, 'S'),
 (214, '250646', 13.0, None, 'S'),
 (215, '367229', 7.75, None, 'Q'),
 (216, '35273', 113.275, 'D36', 'C'),
 (217, 'STON/O2. 3101283', 7.925, None, 'S'),
 (218, '243847', 27.0, None, 'S'),
 (219, '11813', 76.2917, 'D15', 'C'),
 (220, 'W/C 14208', 10.5, None, 'S'),
 (221, 'SOTON/OQ 392089', 8.05, None, 'S'),
 (222, '220367', 13.0, None, 'S'),
 (223, '21440', 8.05, None, 'S'),
 (224, '349234', 7.8958, None, 'S'),
 (225, '19943', 90.0, 'C93', 'S'),
 (226, 'PP 4348', 9.35, None, 'S'),
 (227, 'SW/PP 751', 10.5, None, 'S'),
 (228, 'A/5 21173', 7.25, None, 'S'),
 (229, '236171', 13.0, None, 'S'),
 (230, '4133', 25.4667, None, 'S'),
 (231, '36973', 83.475, 'C83', 'S'),
 (232, '347067', 7.775, None, 'S'),
 (233, '237442', 13.5, None, 'S'),
 (234, '347077', 31.3875, None, 'S'),
 (235, 'C.A. 29566', 10.5, None, 'S'),
 (236, 'W./C. 6609', 7.55, None, 'S'),
 (237, '26707', 26.0, None, 'S'),
 (238, 'C.A. 31921', 26.25, None, 'S'),
 (239, '28665', 10.5, None, 'S'),
 (240, 'SCO/W 1585', 12.275, None, 'S'),
 (241, '2665', 14.4542, None, 'C'),
 (242, '367230', 15.5, None, 'Q'),
 (243, 'W./C. 14263', 10.5, None, 'S'),
 (244, 'STON/O 2. 3101275', 7.125, None, 'S'),
 (245, '2694', 7.225, None, 'C'),
 (246, '19928', 90.0, 'C78', 'Q'),
 (247, '347071', 7.775, None, 'S'),
 (248, '250649', 14.5, None, 'S'),
 (249, '11751', 52.5542, 'D35', 'S'),
 (250, '244252', 26.0, None, 'S'),
 (251, '362316', 7.25, None, 'S'),
 (252, '347054', 10.4625, 'G6', 'S'),
 (253, '113514', 26.55, 'C87', 'S'),
 (254, 'A/5. 3336', 16.1, None, 'S'),
 (255, '370129', 20.2125, None, 'S'),
 (256, '2650', 15.2458, None, 'C'),
 (257, 'PC 17585', 79.2, None, 'C'),
 (258, '110152', 86.5, 'B77', 'S'),
 (259, 'PC 17755', 512.3292, None, 'C'),
 (260, '230433', 26.0, None, 'S'),
 (261, '384461', 7.75, None, 'Q'),
 (262, '347077', 31.3875, None, 'S'),
 (263, '110413', 79.65, 'E67', 'S'),
 (264, '112059', 0.0, 'B94', 'S'),
 (265, '382649', 7.75, None, 'Q'),
 (266, 'C.A. 17248', 10.5, None, 'S'),
 (267, '3101295', 39.6875, None, 'S'),
 (268, '347083', 7.775, None, 'S'),
 (269, 'PC 17582', 153.4625, 'C125', 'S'),
 (270, 'PC 17760', 135.6333, 'C99', 'S'),
 (271, '113798', 31.0, None, 'S'),
 (272, 'LINE', 0.0, None, 'S'),
 (273, '250644', 19.5, None, 'S'),
 (274, 'PC 17596', 29.7, 'C118', 'C'),
 (275, '370375', 7.75, None, 'Q'),
 (276, '13502', 77.9583, 'D7', 'S'),
 (277, '347073', 7.75, None, 'S'),
 (278, '239853', 0.0, None, 'S'),
 (279, '382652', 29.125, None, 'Q'),
 (280, 'C.A. 2673', 20.25, None, 'S'),
 (281, '336439', 7.75, None, 'Q'),
 (282, '347464', 7.8542, None, 'S'),
 (283, '345778', 9.5, None, 'S'),
 (284, 'A/5. 10482', 8.05, None, 'S'),
 (285, '113056', 26.0, 'A19', 'S'),
 (286, '349239', 8.6625, None, 'C'),
 (287, '345774', 9.5, None, 'S'),
 (288, '349206', 7.8958, None, 'S'),
 (289, '237798', 13.0, None, 'S'),
 (290, '370373', 7.75, None, 'Q'),
 (291, '19877', 78.85, None, 'S'),
 (292, '11967', 91.0792, 'B49', 'C'),
 (293, 'SC/Paris 2163', 12.875, 'D', 'C'),
 (294, '349236', 8.85, None, 'S'),
 (295, '349233', 7.8958, None, 'S'),
 (296, 'PC 17612', 27.7208, None, 'C'),
 (297, '2693', 7.2292, None, 'C'),
 (298, '113781', 151.55, 'C22 C26', 'S'),
 (299, '19988', 30.5, 'C106', 'S'),
 (300, 'PC 17558', 247.5208, 'B58 B60', 'C'),
 (301, '9234', 7.75, None, 'Q'),
 (302, '367226', 23.25, None, 'Q'),
 (303, 'LINE', 0.0, None, 'S'),
 (304, '226593', 12.35, 'E101', 'Q'),
 (305, 'A/5 2466', 8.05, None, 'S'),
 (306, '113781', 151.55, 'C22 C26', 'S'),
 (307, '17421', 110.8833, None, 'C'),
 (308, 'PC 17758', 108.9, 'C65', 'C'),
 (309, 'P/PP 3381', 24.0, None, 'C'),
 (310, 'PC 17485', 56.9292, 'E36', 'C'),
 (311, '11767', 83.1583, 'C54', 'C'),
 (312, 'PC 17608', 262.375, 'B57 B59 B63 B66', 'C'),
 (313, '250651', 26.0, None, 'S'),
 (314, '349243', 7.8958, None, 'S'),
 (315, 'F.C.C. 13529', 26.25, None, 'S'),
 (316, '347470', 7.8542, None, 'S'),
 (317, '244367', 26.0, None, 'S'),
 (318, '29011', 14.0, None, 'S'),
 (319, '36928', 164.8667, 'C7', 'S'),
 (320, '16966', 134.5, 'E34', 'C'),
 (321, 'A/5 21172', 7.25, None, 'S'),
 (322, '349219', 7.8958, None, 'S'),
 (323, '234818', 12.35, None, 'Q'),
 (324, '248738', 29.0, None, 'S'),
 (325, 'CA. 2343', 69.55, None, 'S'),
 (326, 'PC 17760', 135.6333, 'C32', 'C'),
 (327, '345364', 6.2375, None, 'S'),
 (328, '28551', 13.0, 'D', 'S'),
 (329, '363291', 20.525, None, 'S'),
 (330, '111361', 57.9792, 'B18', 'C'),
 (331, '367226', 23.25, None, 'Q'),
 (332, '113043', 28.5, 'C124', 'S'),
 (333, 'PC 17582', 153.4625, 'C91', 'S'),
 (334, '345764', 18.0, None, 'S'),
 (335, 'PC 17611', 133.65, None, 'S'),
 (336, '349225', 7.8958, None, 'S'),
 (337, '113776', 66.6, 'C2', 'S'),
 (338, '16966', 134.5, 'E40', 'C'),
 (339, '7598', 8.05, None, 'S'),
 (340, '113784', 35.5, 'T', 'S'),
 (341, '230080', 26.0, 'F2', 'S'),
 (342, '19950', 263.0, 'C23 C25 C27', 'S'),
 (343, '248740', 13.0, None, 'S'),
 (344, '244361', 13.0, None, 'S'),
 (345, '229236', 13.0, None, 'S'),
 (346, '248733', 13.0, 'F33', 'S'),
 (347, '31418', 13.0, None, 'S'),
 (348, '386525', 16.1, None, 'S'),
 (349, 'C.A. 37671', 15.9, None, 'S'),
 (350, '315088', 8.6625, None, 'S'),
 (351, '7267', 9.225, None, 'S'),
 (352, '113510', 35.0, 'C128', 'S'),
 (353, '2695', 7.2292, None, 'C'),
 (354, '349237', 17.8, None, 'S'),
 (355, '2647', 7.225, None, 'C'),
 (356, '345783', 9.5, None, 'S'),
 (357, '113505', 55.0, 'E33', 'S'),
 (358, '237671', 13.0, None, 'S'),
 (359, '330931', 7.8792, None, 'Q'),
 (360, '330980', 7.8792, None, 'Q'),
 (361, '347088', 27.9, None, 'S'),
 (362, 'SC/PARIS 2167', 27.7208, None, 'C'),
 (363, '2691', 14.4542, None, 'C'),
 (364, 'SOTON/O.Q. 3101310', 7.05, None, 'S'),
 (365, '370365', 15.5, None, 'Q'),
 (366, 'C 7076', 7.25, None, 'S'),
 (367, '110813', 75.25, 'D37', 'C'),
 (368, '2626', 7.2292, None, 'C'),
 (369, '14313', 7.75, None, 'Q'),
 (370, 'PC 17477', 69.3, 'B35', 'C'),
 (371, '11765', 55.4417, 'E50', 'C'),
 (372, '3101267', 6.4958, None, 'S'),
 (373, '323951', 8.05, None, 'S'),
 (374, 'PC 17760', 135.6333, None, 'C'),
 (375, '349909', 21.075, None, 'S'),
 (376, 'PC 17604', 82.1708, None, 'C'),
 (377, 'C 7077', 7.25, None, 'S'),
 (378, '113503', 211.5, 'C82', 'C'),
 (379, '2648', 4.0125, None, 'C'),
 (380, '347069', 7.775, None, 'S'),
 (381, 'PC 17757', 227.525, None, 'C'),
 (382, '2653', 15.7417, None, 'C'),
 (383, 'STON/O 2. 3101293', 7.925, None, 'S'),
 (384, '113789', 52.0, None, 'S'),
 (385, '349227', 7.8958, None, 'S'),
 (386, 'S.O.C. 14879', 73.5, None, 'S'),
 (387, 'CA 2144', 46.9, None, 'S'),
 (388, '27849', 13.0, None, 'S'),
 (389, '367655', 7.7292, None, 'Q'),
 (390, 'SC 1748', 12.0, None, 'C'),
 (391, '113760', 120.0, 'B96 B98', 'S'),
 (392, '350034', 7.7958, None, 'S'),
 (393, '3101277', 7.925, None, 'S'),
 (394, '35273', 113.275, 'D36', 'C'),
 (395, 'PP 9549', 16.7, 'G6', 'S'),
 (396, '350052', 7.7958, None, 'S'),
 (397, '350407', 7.8542, None, 'S'),
 (398, '28403', 26.0, None, 'S'),
 (399, '244278', 10.5, None, 'S'),
 (400, '240929', 12.65, None, 'S'),
 (401, 'STON/O 2. 3101289', 7.925, None, 'S'),
 (402, '341826', 8.05, None, 'S'),
 (403, '4137', 9.825, None, 'S'),
 (404, 'STON/O2. 3101279', 15.85, None, 'S'),
 (405, '315096', 8.6625, None, 'S'),
 (406, '28664', 21.0, None, 'S'),
 (407, '347064', 7.75, None, 'S'),
 (408, '29106', 18.75, None, 'S'),
 (409, '312992', 7.775, None, 'S'),
 (410, '4133', 25.4667, None, 'S'),
 (411, '349222', 7.8958, None, 'S'),
 (412, '394140', 6.8583, None, 'Q'),
 (413, '19928', 90.0, 'C78', 'Q'),
 (414, '239853', 0.0, None, 'S'),
 (415, 'STON/O 2. 3101269', 7.925, None, 'S'),
 (416, '343095', 8.05, None, 'S'),
 (417, '28220', 32.5, None, 'S'),
 (418, '250652', 13.0, None, 'S'),
 (419, '28228', 13.0, None, 'S'),
 (420, '345773', 24.15, None, 'S'),
 (421, '349254', 7.8958, None, 'C'),
 (422, 'A/5. 13032', 7.7333, None, 'Q'),
 (423, '315082', 7.875, None, 'S'),
 (424, '347080', 14.4, None, 'S'),
 (425, '370129', 20.2125, None, 'S'),
 (426, 'A/4. 34244', 7.25, None, 'S'),
 (427, '2003', 26.0, None, 'S'),
 (428, '250655', 26.0, None, 'S'),
 (429, '364851', 7.75, None, 'Q'),
 (430, 'SOTON/O.Q. 392078', 8.05, 'E10', 'S'),
 (431, '110564', 26.55, 'C52', 'S'),
 (432, '376564', 16.1, None, 'S'),
 (433, 'SC/AH 3085', 26.0, None, 'S'),
 (434, 'STON/O 2. 3101274', 7.125, None, 'S'),
 (435, '13507', 55.9, 'E44', 'S'),
 (436, '113760', 120.0, 'B96 B98', 'S'),
 (437, 'W./C. 6608', 34.375, None, 'S'),
 (438, '29106', 18.75, None, 'S'),
 (439, '19950', 263.0, 'C23 C25 C27', 'S'),
 (440, 'C.A. 18723', 10.5, None, 'S'),
 (441, 'F.C.C. 13529', 26.25, None, 'S'),
 (442, '345769', 9.5, None, 'S'),
 (443, '347076', 7.775, None, 'S'),
 (444, '230434', 13.0, None, 'S'),
 (445, '65306', 8.1125, None, 'S'),
 (446, '33638', 81.8583, 'A34', 'S'),
 (447, '250644', 19.5, None, 'S'),
 (448, '113794', 26.55, None, 'S'),
 (449, '2666', 19.2583, None, 'C'),
 (450, '113786', 30.5, 'C104', 'S'),
 (451, 'C.A. 34651', 27.75, None, 'S'),
 (452, '65303', 19.9667, None, 'S'),
 (453, '113051', 27.75, 'C111', 'C'),
 (454, '17453', 89.1042, 'C92', 'C'),
 (455, 'A/5 2817', 8.05, None, 'S'),
 (456, '349240', 7.8958, None, 'C'),
 (457, '13509', 26.55, 'E38', 'S'),
 (458, '17464', 51.8625, 'D21', 'S'),
 (459, 'F.C.C. 13531', 10.5, None, 'S'),
 (460, '371060', 7.75, None, 'Q'),
 (461, '19952', 26.55, 'E12', 'S'),
 (462, '364506', 8.05, None, 'S'),
 (463, '111320', 38.5, 'E63', 'S'),
 (464, '234360', 13.0, None, 'S'),
 (465, 'A/S 2816', 8.05, None, 'S'),
 (466, 'SOTON/O.Q. 3101306', 7.05, None, 'S'),
 (467, '239853', 0.0, None, 'S'),
 (468, '113792', 26.55, None, 'S'),
 (469, '36209', 7.725, None, 'Q'),
 (470, '2666', 19.2583, None, 'C'),
 (471, '323592', 7.25, None, 'S'),
 (472, '315089', 8.6625, None, 'S'),
 (473, 'C.A. 34651', 27.75, None, 'S'),
 (474, 'SC/AH Basle 541', 13.7917, 'D', 'C'),
 (475, '7553', 9.8375, None, 'S'),
 (476, '110465', 52.0, 'A14', 'S'),
 (477, '31027', 21.0, None, 'S'),
 (478, '3460', 7.0458, None, 'S'),
 (479, '350060', 7.5208, None, 'S'),
 (480, '3101298', 12.2875, None, 'S'),
 (481, 'CA 2144', 46.9, None, 'S'),
 (482, '239854', 0.0, None, 'S'),
 (483, 'A/5 3594', 8.05, None, 'S'),
 (484, '4134', 9.5875, None, 'S'),
 (485, '11967', 91.0792, 'B49', 'C'),
 (486, '4133', 25.4667, None, 'S'),
 (487, '19943', 90.0, 'C93', 'S'),
 (488, '11771', 29.7, 'B37', 'C'),
 (489, 'A.5. 18509', 8.05, None, 'S'),
 (490, 'C.A. 37671', 15.9, None, 'S'),
 (491, '65304', 19.9667, None, 'S'),
 (492, 'SOTON/OQ 3101317', 7.25, None, 'S'),
 (493, '113787', 30.5, 'C30', 'S'),
 (494, 'PC 17609', 49.5042, None, 'C'),
 (495, 'A/4 45380', 8.05, None, 'S'),
 (496, '2627', 14.4583, None, 'C'),
 (497, '36947', 78.2667, 'D20', 'C'),
 (498, 'C.A. 6212', 15.1, None, 'S'),
 (499, '113781', 151.55, 'C22 C26', 'S'),
 (500, '350035', 7.7958, None, 'S'),
 (501, '315086', 8.6625, None, 'S'),
 (502, '364846', 7.75, None, 'Q'),
 (503, '330909', 7.6292, None, 'Q'),
 (504, '4135', 9.5875, None, 'S'),
 (505, '110152', 86.5, 'B79', 'S'),
 (506, 'PC 17758', 108.9, 'C65', 'C'),
 (507, '26360', 26.0, None, 'S'),
 (508, '111427', 26.55, None, 'S'),
 (509, 'C 4001', 22.525, None, 'S'),
 (510, '1601', 56.4958, None, 'S'),
 (511, '382651', 7.75, None, 'Q'),
 (512, 'SOTON/OQ 3101316', 8.05, None, 'S'),
 (513, 'PC 17473', 26.2875, 'E25', 'S'),
 (514, 'PC 17603', 59.4, None, 'C'),
 (515, '349209', 7.4958, None, 'S'),
 (516, '36967', 34.0208, 'D46', 'S'),
 (517, 'C.A. 34260', 10.5, 'F33', 'S'),
 (518, '371110', 24.15, None, 'Q'),
 (519, '226875', 26.0, None, 'S'),
 (520, '349242', 7.8958, None, 'S'),
 (521, '12749', 93.5, 'B73', 'S'),
 (522, '349252', 7.8958, None, 'S'),
 (523, '2624', 7.225, None, 'C'),
 (524, '111361', 57.9792, 'B18', 'C'),
 (525, '2700', 7.2292, None, 'C'),
 (526, '367232', 7.75, None, 'Q'),
 (527, 'W./C. 14258', 10.5, None, 'S'),
 (528, 'PC 17483', 221.7792, 'C95', 'S'),
 (529, '3101296', 7.925, None, 'S'),
 (530, '29104', 11.5, None, 'S'),
 (531, '26360', 26.0, None, 'S'),
 (532, '2641', 7.2292, None, 'C'),
 (533, '2690', 7.2292, None, 'C'),
 (534, '2668', 22.3583, None, 'C'),
 (535, '315084', 8.6625, None, 'S'),
 (536, 'F.C.C. 13529', 26.25, None, 'S'),
 (537, '113050', 26.55, 'B38', 'S'),
 (538, 'PC 17761', 106.425, None, 'C'),
 (539, '364498', 14.5, None, 'S'),

## PHASE 3 ##

## MINI RAPPORT:

A travers la phase 3, nous devons créer des requêtes SQL afin d'interroger la base de données et visualiser les résultats.
On va donc vous expliquer chacune des requetes demandées.

Pour la requete 1, on nous demande "Combien de classes de passagers différentes y avait-il à bord du Titanic ?".
Ainsi pour y répondre, on a utilisé la fonction "select count" qui permet de compter et on l'a appliqué sur la table titanic afin que la requete nous affiche le nombre de classes différentes présentes.

Pour la requete 2,on nous demande "Combien de passagers y avait-il dans chaque classe?".
On va donc employer la fonction "group by" et "select count" qui permettent donc de projeter le nombre de passagers en fonction d'un ou plusieurs groupes (ici le groupe en question est la classe). 

Pour la requete 3, on nous demande "Combien de femmes et d'hommes y avait-il dans chaque classe?".
On va donc réemployer la fonction "group by" et "select count" comme à la requete précédente. Cependant, au lieu de se servir d'un seul groupe, on va en utiliser deux qui sont "le sexe" et "la classe" dans le but de projeter le nombre de passagers en fonction de chaque classe mais également du sexe.

Pour la requete 4, on nous demande "Comptez le nombre et le pourcentage de survivants et de passagers
morts."
On va donc utiliser le "select count" et le "where survived='0' ou '1'" afin de projeter uniquement le nombre de personnes mortes (ou vivantes) puis, on va diviser le nombre de personnes mortes ou vivantes (multiplié par 100) avec le nombre total de passagers pour projeter le pourcentage de personnes mortes (ou vivantes). On peut également renommer le nom des colonnes pour plus de précision (comme par exemple, percentalive pour le pourcentage de personnes vivantes).

Pour la requete 5, on nous demande "Visualiser la répartition des passagers survivants et morts par classe". Le terme "visualiser" nous indique qu'il faut donc créer une vue qui est une sorte de mini table que l'on peut afficher à tout moment avec l'expression "select * from nomview;". Ainsi on va utiliser la fonction "create view", "select count", "group by" (sur 1 groupe qui est la classe) et "where survived='0'(pour les morts) ou '1'(pour les vivants) afin de nous créer deux vues qui nous projeteront le nombre de passagers survivants décédés ou vivants en fonction de la classe. La création de ces vues qui porteront le nom de "nbmortsparclasse" pour celle qui affichera les morts par classe et "nbvivantsparclasse" pour les survivants nous permettront d'y avoir accès à tout moment comme avec une table en employant la commande "select * from nomview;"

Pour la requete 6, on nous demande "Visualiser la répartition des passagers survivants et des passagers
décédés selon le sexe".
Pour cette dernière requete, on fera la meme chose que la requete précédente sauf qu'au lieu d'utiliser le group by sur une colonne, on l'emploiera sur deux colonnes qui sont la 'classe' et le 'sexe' afin de nous créer deux vues qui nous projeteront le nombre de passagers survivants décédés ou vivants en fonction de la classe et du sexe. La création de ces vues qui porteront le nom de "nbmortsparclasseetsex" pour celle qui affichera les morts par classe et sex et "nbvivantsparclasseetsex" pour les survivants nous permettront d'y avoir accès à tout moment comme avec une table en employant la commande "select * from nomview;"

### LES REQUÊTES SQL

#### Requête 1:

In [73]:
%%sql
select count(distinct Pclass) from titanic;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(3,)]

#### Requête 2:

In [74]:
%%sql
select count(distinct name),Pclass from titanic group by Pclass;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(216, 1), (184, 2), (491, 3)]

#### Requete 3:

In [75]:
%%sql
select count(distinct name),sex,Pclass from titanic group by Pclass,sex;

 * postgresql://postgres:***@localhost/postgres
6 rows affected.

[(94, 'female', 1),
 (122, 'male', 1),
 (76, 'female', 2),
 (108, 'male', 2),
 (144, 'female', 3),
 (347, 'male', 3)]

#### Requête 4.1:

In [76]:
%%sql
select survived, count(*) as nbmorts, round(count(*) * 100/891) as percentdead from titanic where survived = '0' group by survived;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(0, 549, 61.0)]

#### Requête 4.2:

In [77]:
%%sql
select survived, count(*) as nbvivants, round(count(*) * 100/891) as percentalive from titanic where survived = '1' group by survived;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(1, 342, 38.0)]

#### Requête 5.1:

In [82]:
%%sql
DROP view nbmortsparclasse;

 * postgresql://postgres:***@localhost/postgres
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [83]:
%%sql
create view nbmortsparclasse as select count(distinct name) as mort, Pclass from titanic where survived = 0 group by Pclass;
select * from nbmortsparclasse;

 * postgresql://postgres:***@localhost/postgres
Done.
3 rows affected.

[(80, 1), (97, 2), (372, 3)]

#### Requête 5.2:

In [84]:
%%sql
DROP view nbvivantsparclasse;

 * postgresql://postgres:***@localhost/postgres
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [85]:
%%sql
create view nbvivantsparclasse as select count(distinct name) as vivant, Pclass from titanic where survived = 1 group by Pclass;
select * from nbvivantsparclasse;

 * postgresql://postgres:***@localhost/postgres
Done.
3 rows affected.

[(136, 1), (87, 2), (119, 3)]

#### Requête 6.1:

In [86]:
%%sql
DROP view nbvivantsparclasseetsex;
create view nbvivantsparclasseetsex as select count(distinct name) as vivant, Pclass, sex from titanic where survived = 1 group by Pclass,sex;
select * from nbvivantsparclasseetsex;

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
6 rows affected.

[(91, 1, 'female'),
 (45, 1, 'male'),
 (70, 2, 'female'),
 (17, 2, 'male'),
 (72, 3, 'female'),
 (47, 3, 'male')]

#### Requête 6.2:

In [87]:
%%sql
DROP view nbmortsparclasseetsex;
create view nbmortsparclasseetsex as select count(distinct name) as mort, Pclass, sex from titanic where survived = 0 group by Pclass,sex;
select * from nbmortsparclasseetsex;

 * postgresql://postgres:***@localhost/postgres
Done.
Done.
6 rows affected.

[(3, 1, 'female'),
 (77, 1, 'male'),
 (6, 2, 'female'),
 (91, 2, 'male'),
 (72, 3, 'female'),
 (300, 3, 'male')]